@import "./css-variable.css";

.catalogButton {
  background-color: var(--primary-color) !important;
  color: white !important;
  text-decoration: none !important;
  border-color: var(--primary-color) !important;
  padding: 0.4rem 0.8rem !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  height: 50px;
  width: 100px;
  margin-top: 45px;
  margin-left: 20px;
}

.catalogButton a:focus {
  color: black !important;
}

.showAll {
  background-color: white !important;
  border: 1px var(--primary-color) solid;
  color: var(--primary-color) !important;
  text-decoration: none !important;
  border-color: var(--primary-color) !important;
  padding: 0.4rem 0.8rem !important;
  border-radius: 0% !important;
  box-shadow: none !important;
  margin-right: 20px;
  margin-top: 5px;
}

.showAll:hover {
  background-color: lightgray !important;
  transition: 0.2s;
}

@media (min-width: 767px) {
  #formFormat input {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  #formFormat input {
    width: 70vw;
  }
}
#formFormat div {
  display: grid;
}

.catForm {
  min-width: 200px;
}

.bigTitle {
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.catBtn {
  display: flex !important;
  flex-direction: row-reverse !important;
}
