@import "./css-variable.css";

.userInfo {
  margin-top: 30px;
  display: flex;
}

.userText {
  justify-content: center;
  margin: 0px 0 0 60px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.userInfoTop {
  margin-top: 5rem !important;

}

.linkText {
  color: var(--secondary-color-dark) !important;
  margin-top: 4rem;
}

.userHeaderElem {
  border-bottom: 1.5px solid #f4efe9;
  padding-bottom: 3rem;
}

.userIcon {
  max-width: 123px;
  border: 1px;
  border-radius: 100%;
  /* margin-bottom: 50px; */
}

.campaignsTitle {
  font-family: var(--primary-font);
  font-size: 30px;
  margin: 20px 0;
  color: var(--text-color);
  text-transform: capitalize;
}

.myImg {
  width: 300px;
  height: 300px;
}

.productCard {
  border: none !important;
}

/* 
@media screen and (min-width: 550px) {
  .imgContainer {
    max-width: 15rem;
    max-height: 15rem;
    overflow: hidden !important;
  }
} */

@media only screen and (min-width: 650px) {
  .imgContainer {
    max-width: 19rem;
    max-height: 19rem;
    overflow: hidden !important;
  }
}

.cardTitle {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.scoreText {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.cardText {
  margin: 8px 0;
  text-transform: capitalize;
  color: var(--secondary-color-dark);
}

.bi-gear {
  font-size: 28px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 25px !important;
}

.bi-gear:hover {
  color: var(--secondary-color-dark);
}

.linkText {
  /* text-decoration: none; */
  color: var(--primary-color) !important;
  font-size: 17px;
  margin-top: 2rem !important;
}

.linkText:hover {
  color: var(--text-color) !important;
}

.calendarButton {
  background-color: var(--primary-color) !important;
  border-radius: 0 !important;
  border: none !important;
}

.calendarButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.camIcon{
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  }