@import "./css-variable.css";

.pageTitle {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  margin: 70px 0 40px 0;
}

.packageTitle {
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-size: 20px;
  text-transform: capitalize;
}

.userInfo {
  margin-top: 30px;
  display: flex;
}

.userText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 60px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.linkText {
  color: var(--secondary-color-dark) !important;
  margin-top: 20px;
}

.userHeaderElem {
  border-bottom: 1.5px solid #f4efe9;
  padding-bottom: 15px;
}

.userIcon {
  max-width: 180px;
  border: 1px;
  border-radius: 100%;
  margin-bottom: 30px;
}

.campaignsTitle {
  font-family: var(--primary-font);
  font-size: 30px;
  margin: 20px 0;
  color: var(--text-color);
  text-transform: capitalize;
}

.myImg {
  width: 300px;
  height: 300px;
}

.productCard {
  border: none !important;
}

.cardTitle {
  font-size: 20px;
  font-family: var(--primary-font);
  text-transform: capitalize;
}

.scoreText {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.cardText {
  margin: 8px 0;
  text-transform: capitalize;
  color: var(--secondary-color-dark);
}

.bi-gear {
  font-size: 28px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 25px !important;
}

.bi-gear:hover {
  color: var(--secondary-color-dark);
}

/* body {
  margin: 30px !important;
} */


@media only screen and (min-width: 650px) {
  .imgContainer {
    max-width: 19rem;
    max-height: 19rem;
    overflow: hidden !important;
  }
}